Student Admission Portal

In [1]:
# Generate Names, age, gender and scores of Students for Admission 

from faker import Faker
import random
import pandas as pd

fake = Faker()

students = []

for _ in range(100):
    first_name = fake.first_name()
    last_name = fake.last_name()
    gender = random.choice(['Male', 'Female'])
    age = random.randint(16, 25)
    grade_score = random.randint(30, 100)
    course = random.choice(['Medcine and Surgery', 'Computer Science', 'English Language', 'Physics'])

    students.append({
        'first_name': first_name,
        'last_name': last_name,
        'gender': gender,
        'age': age,
        'grade_score': grade_score,
        'course': course
    })

df = pd.DataFrame(students)

print(df)

   first_name last_name  gender  age  grade_score               course
0      Thomas  Thompson  Female   16           66              Physics
1         Amy  Villegas    Male   21           31              Physics
2      Thomas     Brown    Male   22           82     English Language
3      Thomas     Hicks    Male   18           39  Medcine and Surgery
4       Julie     Mejia    Male   22           79  Medcine and Surgery
..        ...       ...     ...  ...          ...                  ...
95     Robert   Johnson    Male   25           72  Medcine and Surgery
96    Chelsea      Lamb  Female   23           89              Physics
97      Janet   Johnson    Male   20           31  Medcine and Surgery
98       John    Clarke  Female   22           36  Medcine and Surgery
99     Jordan    Foster    Male   23           85              Physics

[100 rows x 6 columns]

Deciding Students who gained admission and Generating their admission number

In [29]:
class AdmittedStudent:
    def __init__(self, student):
        self.first_name = student['first_name']
        self.last_name = student['last_name']
        self.gender = student.get('gender', '')  
        self.grade_score = student.get('grade_score', 0)  
        self.admission_number = None
        self.admission_status = None

    def check_admission(self):
        if self.grade_score >= 50:
            self.admission_status = "Admitted"
        else:
            self.admission_status = "Not Admitted"

    def generate_admission_number(self):
        if self.grade_score >= 50:
            self.admission_number = fake.random_int(min=10000, max=99999)


while True:
    # Display menu options
    print("\nMenu:")
    print("1. Check Admission Status (Individual)")
    print("2. Print All Admission Statuses")
    print("3. Quit")

    
    choice = input("Enter your choice (1, 2, or 3): ")

    if choice == '1':
        
        user_first_name = input("Enter your first name: ")
        user_last_name = input("Enter your last name: ")

        
        user_row = df[(df['first_name'] == user_first_name) & (df['last_name'] == user_last_name)].iloc[0]

       
        user_student = AdmittedStudent(user_row)

        
        user_student.check_admission()
        user_student.generate_admission_number()

        
        df.at[user_row.name, 'admission_number'] = user_student.admission_number
        df.at[user_row.name, 'admission_status'] = user_student.admission_status

       
        print("\nAdmission Status:")
        print(df.loc[[user_row.name], ['first_name', 'last_name', 'admission_number', 'admission_status']])

    elif choice == '2':
        
        admission_status_info = []

        for index, row in df.iterrows():
            student = AdmittedStudent(row)
            student.check_admission()
            student.generate_admission_number()

            
            admission_status_info.append({
                'First Name': student.first_name,
                'Last Name': student.last_name,
                'Admission Number': student.admission_number,
                'Admission Status': student.admission_status
            })

        
        admission_status_df = pd.DataFrame(admission_status_info)

        
        print("\nAll Admission Statuses:")
        print(admission_status_df.to_string(index=False))

    elif choice == '3':
        
        print("Quitting the program.")
        break

    else:
        print("Invalid choice. Please enter 1, 2, or 3.")

Menu:
1. Check Admission Status (Individual)
2. Print All Admission Statuses
3. Quit
Invalid choice. Please enter 1, 2, or 3.

Menu:
1. Check Admission Status (Individual)
2. Print All Admission Statuses
3. Quit
Invalid choice. Please enter 1, 2, or 3.

Menu:
1. Check Admission Status (Individual)
2. Print All Admission Statuses
3. Quit

Admission Status:
  first_name last_name  admission_number admission_status
0    Krystal     Clark           93460.0         Admitted

Menu:
1. Check Admission Status (Individual)
2. Print All Admission Statuses
3. Quit
Quitting the program.

In [30]:
df

,first_name,last_name,gender,age,grade_score,course,admission_number,admission_status
0,Krystal,Clark,Male,18,86,Computer Science,93460.0,Admitted
1,Christina,Wong,Female,21,99,Medcine and Surgery,NaN,nan
2,Robert,Howell,Female,18,86,Computer Science,NaN,nan
3,Calvin,Fuller,Female,23,43,Medcine and Surgery,NaN,nan
4,Roger,Hall,Female,23,53,Computer Science,NaN,nan
...,...,...,...,...,...,...,...,...
95,Scott,Kennedy,Female,21,76,Medcine and Surgery,NaN,nan
96,Joshua,Hill,Female,17,68,Physics,NaN,nan
97,Cheyenne,Green,Female,20,94,English Language,NaN,nan
98,David,Young,Male,16,96,English Language,NaN,nan
99,Bobby,Williams,Male,25,56,Computer Science,NaN,nan

In [38]:


class StudentPayment:
    def __init__(self, student):
        self.first_name = student['first_name']
        self.last_name = student['last_name']
        self.admission_number = student['admission_number']
        self.acceptance_fee_paid = False
        self.school_fees_paid = False

    def pay_acceptance_fee(self):
        if self.check_admission_status():
            self.acceptance_fee_paid = True
            print(f"Acceptance fee paid for {self.first_name} {self.last_name}")
        else:
            print("Admission not granted. Cannot pay acceptance fee.")

    def pay_school_fees(self):
        if self.check_admission_status():
            self.school_fees_paid = True
            print(f"School fees paid for {self.first_name} {self.last_name}")
        else:
            print("Admission not granted. Cannot pay school fees.")

    def print_payment_status(self):
        if self.check_admission_status():
            print(f"\nPayment Status for {self.first_name} {self.last_name} (Admission Number: {self.admission_number}):")
            print(f"Acceptance Fee Paid: {self.acceptance_fee_paid}")
            print(f"School Fees Paid: {self.school_fees_paid}")
        else:
            print("Admission not granted. No payment status available.")

    def check_admission_status(self):
        return df[
            (df['first_name'] == self.first_name) &
            (df['last_name'] == self.last_name)
        ]['admission_status'].values[0] == 'Admitted'


payment_info_list = []

for index, row in df.iterrows():
    student_payment = StudentPayment(row)
    payment_info_list.append(student_payment)

while True:
    # Display payment menu options
    print("\nPayment Menu:")
    print("1. Pay Acceptance Fee")
    print("2. Pay School Fees")
    print("3. Print Payment Status")
    print("4. Quit")

    
    payment_choice = input("Enter your choice (1, 2, 3, or 4): ")

    if payment_choice in {'1', '2', '3'}:
        # Take user input for first and last names
        user_first_name = input("Enter your first name: ")
        user_last_name = input("Enter your last name: ")

        
        user_row = df[(df['first_name'] == user_first_name) & (df['last_name'] == user_last_name)].iloc[0]

        
        user_student = StudentPayment(user_row)

        if payment_choice == '1':
            user_student.pay_acceptance_fee()

        elif payment_choice == '2':
            user_student.pay_school_fees()

        elif payment_choice == '3':
            user_student.print_payment_status()

    elif payment_choice == '4':
        print("Quitting the program.")
        break

    else:
        print("Invalid choice. Please enter 1, 2, 3, or 4.")

Payment Menu:
1. Pay Acceptance Fee
2. Pay School Fees
3. Print Payment Status
4. Quit

Acceptance fee paid for Krystal Clark

Payment Menu:
1. Pay Acceptance Fee
2. Pay School Fees
3. Print Payment Status
4. Quit

Payment Status for Krystal Clark (Admission Number: 93460.0):
Acceptance Fee Paid: False
School Fees Paid: False

Payment Menu:
1. Pay Acceptance Fee
2. Pay School Fees
3. Print Payment Status
4. Quit
Quitting the program.